@font-face {
  font-family: 'starJedise';
  font-style: normal;
  font-weight: normal;
  src: url('./starJedise.ttf');
}

@font-face {
  font-family: 'starJediHol';
  font-style: normal;
  font-weight: normal;
  src: url('./starJediHol.ttf');
}

@font-face {
  font-family: 'distantGalaxy';
  font-style: normal;
  font-weight: normal;
  src: url('./distantGalaxy.ttf');
}
